#map {
    height: 92%;
    width: 100%;
    margin: 0px;
    position: absolute;
    top: 8%;
}

.leaflet-popup-content{
    width:300px ;
}

.popbtn {
    background-color:green;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid green;
    border-radius:5px;
    box-sizing: border-box;
}

#showNoOfferStores{
    position: relative;
    z-index: 999; ;
}

.modal {
    --bs-modal-width: 600px;
}

.selected {
    color: green;
    outline: 1px solid black;
}
